* {
  padding: 0;
  margin: 0;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    24deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 30%,
    rgba(5, 109, 187, 1) 67%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 100vh;
}

.App {
  color: white;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}

button {
  all: unset;
  color: white;
  font-size: 25px;
  border: 2px solid rgba(0, 0, 0, 0);
  padding: 15px;
  border-radius: 15px;
  text-transform: uppercase;
  box-shadow: 0 0 4px white;
  transition: 450ms;
}

button:hover {
  background-color: rgb(53, 53, 53);
}

.Navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 25%;
}

.Heading {
  padding: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Table {
  padding: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: ease-in-out;
}

input {
  padding: 10px;
  width: 90%;
  border-radius: 15px;
}
